*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Theme */
html {
    font-size: 14px;
    font-family: Raleway, Helvetica;
}
body, p {
    margin: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

/* Utils */

.d-flex {
    display: flex;
}
.justify-space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}

.grey {
    background-color: #303030
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.responsive {
    width: 100%;
    height: auto;
  }

/* Navigation */

nav {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.logo {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}
.logo img {
    padding: 10px;
    width: 10rem;
    height: auto;
}
.nav-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding-left: 0;
    color: white;
    max-width: 50%;
}
.nav-items a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;

}
.nav-items li {
    cursor: pointer;
    font-weight: 500 !important;
    padding: .5rem 0;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 1.8rem;
    border-bottom: 4px solid transparent;
    
}
.nav-items li:hover {
    border-bottom: 4px solid #7c6b63;
    text-decoration: none;
}
.burger{
    display: none;
    cursor: pointer;
    padding: 10px
}
.burger div {
    width: 25px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    transition: all 0.3s ease;
}
/*responsive*/
@media screen and (max-width:1024px) {
    .nav-items {
        width: 60%;
    }
    p{
        padding: 0.5rem;
    }
    .responsive {
        max-width: 100%;
        height: auto;
    }
    .read{
        display: none;
    }
    .we p{
        margin: auto;
        padding: 0.5rem;
    }
    .we h3{
        margin: auto;
        padding: 0.5rem;
    }
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;   
    }
    .responsive {
        max-width: 100%;
        height: auto;
    }
    p{
        padding: 0.5rem;
    }
    .nav-items{
        z-index: 15;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh; 
        margin-top: 0;
        background-color: #303030;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-items li{
        opacity: 0;
        margin-right: 1rem;
    }
    .burger{
        display: block;
    }
    .we{
        grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    .we p{
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 0.5rem;
    }
    .we h3{
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 0.5rem;
    }
    .read{
        display: none;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/*Carousel*/
.carousel-container{
    width: 1200px;
    margin: auto;
    border: 0px solid black;
    overflow: hidden;
    position: relative;
}
.carousel-slide{
    display: flex;
    max-width: 100%;
    height: auto;
    max-height: 500px;
}
.carousel-caption{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    position: absolute;
    top: 40%;
    z-index: 5;
    left: 25%;
    right: 25%;
    opacity: 1;
}
#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 10px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #140f08bb; background-blend-mode: 0.5; color: rgb(255, 255, 255); 
    padding: 04px ;
    border-radius: 8px;
}
#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 10px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #140f08bb; background-blend-mode: 0.5; color: rgb(255, 255, 255);
    padding: 04px ;
    border-radius: 8px;
}
#downloadBtn{
    position: inherit;
    top: 130%;
    z-index: 10;
    left:-20%;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #140f08bb; background-blend-mode: 0.5; color: rgb(255, 255, 255); 
    padding: 14px 40px;
    border-radius: 8px;
}
/*About Us*/
.about{
    padding-top: 4rem;
	padding-bottom: 3rem;
	text-align: center;
    }
.about h4{
    font-size: 28px;
    color: #7b6c63;
    padding-bottom: 2rem;
}
.about p{
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding-bottom: 1.5rem;
}
/*We are the best*/
.we{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    background-color:#f5f5f5;;
    padding-left: 9.375rem;
    padding-right: 9.375rem;
    grid-gap: 0px; 
    padding: 0px;
    margin: 0 auto;
	height: 350px;
	background-color: #f5f5f5;
}
.we h3{
    padding-top: 3rem;
    padding-left: 2rem;
    font-size: 1.25rem;
    color: #7b6c63;
    padding-bottom: 2rem;
    text-align: left;
}
.we p{
    padding-left: 2rem;
    font-size: 0.938rem;
    font-weight: 400;
    color: black;
    text-align: left;
}
.we img{
    width: 600px;
    max-height: 350px;
    position: relative;
    background-color: #f5f5f5;
    margin-right: 50%;
}
#readBtn{
    margin: 2rem;
    z-index: 10;
    font-size: 0.938rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: #f5f5f5; color: #302a27; 
    padding: 7px 30px;
    border-radius: 1px;
}
/*SERVICES WE PROVIDE*/
h3{
    padding-top: 3.5rem;
    padding-left: 2rem;
    font-size: 1.25rem;
    color: #7b6c63;
    padding-bottom: 2rem;
    text-align: center;
}
.icons p{
    padding-left: 2rem;
    font-size: 0.938rem;
    font-weight: 400;
    color: rgba(99, 99, 99, 0.788);
    text-align: center;
}
h2{
    padding-top: 3.5rem;
    padding-left: 2rem;
    font-size: 0.938rem;
    color: #7b6c63;
    padding-bottom: 2rem;
    text-align: center;
}
/*OUR SKILLS*/
.skills{
    margin-bottom: 2rem;
    width: 100%; 
    height: 300px; 
    float: center; 
    background-image: url('images/Layer 7.png');
    background-size: 1200px 300px;
    background-position-x: center;
}
.skills_baner{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    z-index: 15;
}
.circles{
    display: flex;
    justify-content: space-around; 
}
.circle {
    -moz-border-radius: 120px/120px;
    -webkit-border-radius: 120px 120px;
    border-radius: 120px/120px;
    border: solid 5px #7b6c63;
    width: 120px;
    height: 120px;
    margin: auto;
    float: center;
    padding: 5px;
}
.circle p{
    text-align: center;
    vertical-align: bottom;
    justify-content: space-around ; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 0.75rem;
}
.circle2 {
    -moz-border-radius: 100px/100px;
    -webkit-border-radius: 100px 100px;
    border-radius: 100px/100px;
    border: solid 3px #ffffff;
    width: 100px;
    height: 100px;
    margin: center;
    position: inherit;
    float: center;
    vertical-align: middle;
    padding: 5px;
}
.circle2 p{
    text-align: center;
    vertical-align: middle;
    height: 125px; 
    float: center; 
    justify-content: space-between ; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 0.75rem;
    padding: 30px;
}
.skills h3{
    padding-top: 3.5rem;
    padding-left: 0px;;
    font-size: 1rem;
    color: white;
    padding-bottom: 2rem;
    text-align: center;
}
/*RECENT PROJECTS*/
.recent{
    padding-top: 1rem;
	padding-bottom: 3rem;
	text-align: center;
}
.recent h4{
    font-size: 1.75rem;
    color: #7b6c63;
    padding-bottom: 2rem;
}
.recent p{
    font-size: 1rem;
    font-weight: 400;
    color: black;
    padding-bottom: 1.5rem;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
    background-color:white;
    padding: 0px;
}
.grid-container > div {
    border: 0px ;
    text-align: center;
    font-size: 1.875rem;
    margin: 0px;
    padding: 0px;
}
.square{
    position: relative;
    color: white;
}   
.square2{
    display: none;
}
.square img:hover +.square2 {
    display: block;
    position: absolute;
    width: 90%;
    height: 80%;
    top: 47%;
    background-color: rgba(0, 0, 0, 0.664);
    padding: 10px;
    left: 50%;
    z-index: 15;
    transform: translate(-50%, -50%); 
}
.square2 h5{
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    top: 35%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);   
}
.square2 p{
    position: absolute;
    font-size: 13px;
    font-weight: 300;
    top: 70%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);   
}
.twitter {
    background-color: #1a1a1a;
    padding: 0px;
    margin-top: 0px;
    border: 0px ;
    text-align: center; 
    height: auto;
    justify-content: center;
    color: white;
    padding-bottom: 2rem;
}
/*TWITTER*/
.twitter h3{
    padding-top: 1.5rem;
    padding-left: 0rem;
    font-size: 1rem;
    color: white;   
}
.twitter p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.603);
    padding-bottom: 1.5rem;
}
#seeBtn{  
    z-index: 10;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: #f5f5f5; color: #302a27; 
    padding: 7px 30px;
    border-radius: 1px;
}
/*OUR TEAM MEMBERS*/
.team{
    padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
    background-color: #f5f5f5;
}
.team h4{
    font-size: 28px;
    color: #7b6c63;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}
.team p{
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding-bottom: 2rem;  
}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 0.938rem;
    background-color:#f5f5f5;;
    padding-left: 9.375rem;
    padding-right: 9.375rem;
}
.square3{
    display: none;
}
.square img:hover +.square3 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 10px;
    left: 50%;
    right: 50%;
    z-index: 15;
    transform: translate(-50%, -50%); 
}
.square3 h5{
    position: absolute;
    font-size: 0.938rem;
    font-weight: 500;
    top: 35%;
    left: 50%;
    right: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);   
}
.square3 p{
    position: absolute;
    font-size: 0.813rem;
    font-weight: 300;
    top: 70%;
    left: 50%;
    right: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);   
}
.fb{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 0.938rem;
    position: absolute;
    top: 45%;
    left: 25%;
    right: 25%;
    bottom: 45;
}
.name_tag{
    display: grid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    text-align: center;
    grid-gap: 0.938rem;
    top: 50%;
    left: 50%;
    right: 50%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-style: groove;
}
.name_tag h6{
    font-size: 0.938rem;
    font-weight: 500;
    padding: 0.125rem;
}
.name_tag p{
    font-size: 0.813rem;
    font-weight: 300;
    padding: 0.125rem;
}
/*BLOG*/
.blog{
    padding-top: 1rem;
	padding-bottom: 1.5rem;
	text-align: center;
    background-color: white;
}
.blog h4{
    font-size: 28px;
    color: #7b6c63;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}
.blog p{
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding-bottom: 2rem;  
}
.grid-container3 {
    display: grid;
    grid-template-columns: 7fr 0.25fr 7fr ;
    grid-template-rows: 1fr;
    grid-column-gap: 0.938rem;
    background-color: white;
    padding-left: 9.375rem;
    padding-right: 9.375rem;
}
.text h5{
    font-size: 1.5rem;
    font-weight: 500;
    color: #7c6b63;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
#postBtn{
   
  height: 84px;
  width: 84px;
  color: white;
  border-radius: 50%;
  border: 8px solid #ebebeb;
  background-color: #7b6c63;
  
}
/*CONTACT FORM*/
.contact-form{
    padding-top: 1rem;
	padding-bottom: 1.5rem;
	text-align: center;
    background-color: #f5f5f5;
}
.contact-form h4{
    font-size: 28px;
    color: #7b6c63;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    text-align: center;
}

form{
    margin-top: 1rem;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #423b37;
    font-size: 18px;
    margin-bottom: 16px;
    font-family: Raleway, Helvetica;
}

input{
    height: 45px;

}

form .submit{
    background: #7b6c63;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;

    z-index: 10;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: #f5f5f5; color: #302a27; 
    padding: 7px 30px;
    border-radius: 1px;
}
form .submit:hover{
    background-color: #7b6c63;
    cursor: pointer;
}

/*FOOTER*/
.footer{
    background: #222222;
    text-decoration: none;
    margin-bottom: 0;
    padding: 50px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}    
.container_footer{
    max-width: 1200px;
    margin: auto;
    
    
}

.footer ul{
    list-style: none;
    color: #929292;
    
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    
}
.footer-col h4{
    font-size: 1.125rem;
    margin-bottom: 2.5rem;
    font-weight: 500;
    position: relative;
    color: #929292;
    
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #aa8f7f;
    height: 2px;
    
}
.footer-col h3::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #aa8f7f;
    height: 2px;
    box-sizing: border-box;
    width: 500%;
    border: none;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
